{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <div class="container">
      <h1><img class="lang-logo" src="{% static 'smash-ball-logo.png'%}"> Per-Fighter Stats</h1>
    </div>
    <div class="container">
      <div class="row">
        <h1>Most Wins</h1>
        {% for player, data in win_fighters.items %}
        <div class="col-md-3">
          <h2><span class="player">{{ player }}</span></h2>
          <table class="styled-table">
            <tbody>
              {% for info in data %}
                <tr>
                  <td class="stat">{{ forloop.counter }}</td>
                  <td>
                    <span class="player">{{ info.0 }}</span>
                  </td>
                  <td class="value"><span class="bolded">{{ info.1 }}</span> (matches won)</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endfor %}
      </div>
      <div class="row">
        <h1>Deadliest Fighter</h1>
        {% for player, data in kill_fighters.items %}
        <div class="col-md-3">
          <h2><span class="player">{{ player }}</span></h2>
          <table class="styled-table">
            <tbody>
              {% for info in data %}
                <tr>
                  <td class="stat">{{ forloop.counter }}</td>
                  <td>
                    <span class="player">{{ info.0 }}</span>
                  </td>
                  <td class="value"><span class="bolded">{{ info.1 }}</span> (total kills)</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endfor %}
      </div>
      <div class="row">
        <h1>Most Murdered Fighter</h1>
        {% for player, data in death_fighters.items %}
        <div class="col-md-3">
          <h2><span class="player">{{ player }}</span></h2>
          <table class="styled-table">
            <tbody>
              {% for info in data %}
                <tr>
                  <td class="stat">{{ forloop.counter }}</td>
                  <td>
                    <span class="player">{{ info.0 }}</span>
                  </td>
                  <td class="value"><span class="bolded">{{ info.1 }}</span> (total deaths)</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endfor %}
      </div>
    </div>
    <script>
      $(document).ready(function(){

        var colorMatch = {
          'Rish'     : 'rish-text',
          'Janey'    : 'janey-text',
          'Harold'   : 'harold-text',
          'CPU'      : 'cpu-text',
          'N/A'      : 'na-text'
        };

        var curdiv;
        var pname;
        $('.player').each(function(index) {
          curdiv = $(this);
          pname = curdiv.text();
          curdiv.addClass(colorMatch[pname]);
        });
      });
    </script>
  </div>
</div>

{% endblock %}
